# Python virtual environments
venv/
.venv/

# Compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db

# PyCharm settings
.idea/

# Build-related files (optional, for Android or Buildozer)
*.apk
*.spec
build/
dist/
